@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800');
*{

  outline: none !important;
  scroll-behavior: smooth;
}


body {

  font-family: 'Poppins', sans-serif;

}

header {

  position: relative;

}

p {

  font-size: 1.15rem;

}

.navbar-brand img {
  width:40px;
  margin-bottom:10px;
}

 .navbar-brand h1 {

  background: -webkit-linear-gradient(135deg,#82fa73, #13ba66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight:900;
}

strong {
  background: -webkit-linear-gradient(135deg,#82fa73, #13ba66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  background: transparent !important;
  transition: 0.5s;
}


.navbar.scrolled {

  background-color: rgba(255, 255, 255, .15) !important;  
  backdrop-filter: blur(10px);
  transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   
  color: #000;
  background: #fff;
  border-radius: 50px;;
}

.navbar-light .navbar-nav .active>.nav-link:hover {

  color: #000;
}

.navbar-light .navbar-nav .nav-link {

  color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
  color:black;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {

  color: linear-gradient(135deg,#82fa73, #13ba66);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    
  color: rgba(255,255,255,1);
  font-size: 2.5rem;
  font-weight: 600;
}

.banner {

  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  background: 
  linear-gradient(
    rgba(0 ,0 ,0 ,0.75),
    rgba(255, 255, 255, 0.25)
    ),
  url(../images/banner.jpg);
  background-size: cover;
  margin-bottom: 0;
}

.height100p {

  height: 100vh;
}

.h100 {

  height: 100%;
}

.btnD1 {
  
  text-transform: uppercase;
  color: #000;
  background-color:white;
  border-radius: 50px;
  padding: 15px 50px;
  font-size: 1.15rem;
  outline: none;
  font-weight: 500;
  margin-top: 70px;
  font-weight:600;

}


.btnD1:hover {

  color: #ffffff !important;
  background: linear-gradient(135deg,#82fa73, #13ba66);
  transition: all 0.4s ease 0s;

}

.contentBox {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.banner h1 {

  background: -webkit-linear-gradient(135deg,#BBF17E,#ECFBDA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5rem;

}

.banner hr {

  background: linear-gradient(to left,#BBF17E,#ECFBDA);
  height:3px;

}

.contentBox p {

  color: #fff;
  font-size: 1.3rem;
}



.products {

  padding: 100px 0;
  background-color: #bdcad9;
  background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);

}

.products hr {

  background: linear-gradient(to left,#40434E,#070707);
  height:3px;
  width:100%;
}

.headerText {

  font-size: 2.5rem;
  color: black;
}

.headerText h2 {

  background: -webkit-linear-gradient(#40434E,#070707);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform:uppercase;
  font-weight:600
  
}

.placeBox {

  position: relative;
  max-width: 300px;
  height: 400px;
  margin: 0 auto;
  background: white;
  margin-top: 30px;
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  transition: 0.5s ease;
}

.placeBox .imgBx {

  width: 100%;
  height: 100%;


}

.placeBox .imgBx img {

  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.placeBox .content{

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
  
}

.placeBox .content h3 {

  position: relative;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
}


.placeBox:hover {
  
  transform: scale(1.075);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.about {

  background: 
  linear-gradient(
    rgba(0 ,0 ,0 ,0.5),
    rgba(0, 0, 0, 0.25)
     ),
  url(../images/about.jpg);
  background-size: cover;
  height: 100vh;
  position: relative

}

.about-text {
  vertical-align: middle;
}

.about h2 {

  background: -webkit-linear-gradient(135deg,#BBF17E,#3ABEFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  font-size: 4.5rem;
}

.about p {

  color: white;
}

.about hr {

  background-image: linear-gradient(to left,#BBF17E,#3ABEFF);
  height: 3px;
}


.farms {

  position: relative;
  padding: 100px 0;
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);

}

.farms h2 {
  background: -webkit-linear-gradient(135deg,#C177B2,#60D394);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3rem;

}

.farms hr {

  background-image: linear-gradient(to left,#C177B2,#60D394);
  height: 3px;
}

.farms .mainText {
  color: white;
}

.farmcontent {

  position: relative;
  width: 100%;
  margin-top: 30px;
  background: #fff;

}

.farmcontent .imgBx {

  height: 400px;
}

.farmcontent .imgBx img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.farmcontent .content {

  padding: 15px;

}

.farmcontent .content h1 {

  margin: 0;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 1.5rem;
}

.btnD2 {

  background: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  color: #fff;
  border-radius: 100%;
  margin-top:0;
  font-size: 20px;
  transition: 0.5s ease;
  float: left;
  margin-bottom:10px;

}

.btnD2:hover {

  background: linear-gradient(147deg, #F1A7F1 0%, #FAD0C4 74%);
  transform: scale(1.2);

}

.btnD3 {

  background: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  color: #fff;
  border-radius: 100%;
  font-size: 20px;
  float: left;

}


.contact {

  position: relative;
  padding: 100px 0;
  background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  background-size: cover;
  min-height: 100vh;

}

.contact h2 {

  background: -webkit-linear-gradient(135deg,#B621FE,#1FD1F9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3rem;
}

.contact hr {

  background-image: linear-gradient(to left,#B621FE,#1FD1F9);
  height: 3px;
}

.contact p {

  color: white;
}

.contact form{

  z-index: 10000;
}

.contact .form-control{

  background: transparent;
  border: none;
  border-bottom: 3px solid rgba(255,255,255,.2);
  height: 50px;
  border-radius: 0;
  background: rgba(255, 255, 255,.45);
  color: black;
  font-size: 1.25rem;
}

.contact .form-control:focus,
.contact .form-control:hover,
.contact .form-control::after {

  border: none;
  border-bottom: 3px solid rgba(6, 196, 239,1);
  background: rgba(255, 255, 255,.50);
  box-shadow:none;
}

.contact .textarea{

    min-height: 100px;
}

.contact label{

  color: #fff;
  font-size: 1.25rem;
}

footer {

  background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  padding: 10px 0 0;
}

.socmed{

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socmed li{

  list-style: none;
  margin: 0 20px;
}

.socmed li a{

  color: #777;
  font-size: 2em;
  transition: 0.5s;
}

.socmed li a:hover {

  color: #fff;
}

.cpryt{

  margin-top: 20px;
  text-align: center;
  color: #777;
}

.cpryt a,
.cpryt a:hover{

  color: #fff;
}

@media only screen and  (min-width: 992px){

  .navbar-expand-lg .navbar-nav .nav-link {

    padding-right: 1rem;
    padding-left: 1rem;
  }

   .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }

  .btnD3{
    visibility:hidden;
  }
}


@media only screen and (max-width: 992px){
  .navbar {

  background-color: rgba(255, 255, 255, .15) !important;  
  backdrop-filter: blur(10px);
  }

  .navbar-light .navbar-toggler{

    background: transparent;
    border-radius: 0;
    border:none

  }

  .navbar-light .navbar-toggler-icon {
    
    background-image: none;
  }

  header .fas{
   
    color: #82fa73;
  }

  .banner,.about{

    min-height: 100vh;
    padding: 400px 0;
  }

  .banner h1{
 
    font-size: 5rem;

  }

  .home-text {

    margin-top:2rem;
  }

  .about {

  height: 80vh;
  position: relative;

  }

  .about h2{

    font-size: 3rem;
  }

  .about p{

    color:white;
    font-size:1rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link{

    padding-right: 1rem;
    padding-left: 1rem;
  }

  .container{
    vertical-align: middle;
  }
  .about-text{

    margin-top: 10rem;
    vertical-align:middle;
    background: linear-gradient(
    rgba(0 ,0 ,0 ,0.25),
    rgba(0, 0, 0, 0.5)
     )
  }

  .products,.farms,.contact{

    padding:100px 0;
  }

  .headerText h2{
      
    font-size:2rem;
  }

  .placeBox {

  position: relative;
  max-width: 200px;
  height: 200px;
  }

  .farmcontent {
    align-items: center;
  }

  .farmcontent .imgBx{
     
    height: 200px;
  }

  .farmcontent p {

    font-size:1rem;
  }

  .contact .form-control{

    height: 40px;
    border: 1px solid #fff;
  }

  .btnD1 {

    padding: 10px 40px;
    margin-top: 10px;
  }

  .btnD2 {

    float:right;
  }

  footer {

    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    padding-top: auto;
  }

  .socmed li {

    list-style: none;
    margin: 0 10px;
  }

  .socmed li a{

    color: #777;
    font-size: 1.5rem;
    transition: 0.5s;
  }

  .about {

    height: auto;
    padding: 40px 0;
  }
}

